*{margin: 0%; padding: 0%;}

body{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}

#heading{
    width: 100%;
    text-align: center;
    font-family:'Courier New';
    background-color: aliceblue;

}

#guide{
    background-color:blueviolet;
    width: 20%;
    padding-top: 50px;
    padding-left: 20px;
    display: inline-flex;
    float: left;
}

#names{
    background-color: aliceblue;
}

#reg{
    background-color: aliceblue;
    width: 30%;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    border: 2px solid #9d21ad;
    display: inline-flex;
}

table{
    margin: 0%;
    padding: 0%;
}

#regform{
    width: 100%;
    text-align: center;
    
}

tr, td, p, th{
    height: 100%;
    padding: 10px;
    color: black;
    font-family: 'Roboto';
    font-size: large;
}

#stateName{
    width: 400px;
    padding: 10px;
    text-align: center;
    font-size: large;
}

#btn{
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-size: medium;
}

#map{
    width: 37%;
    height: 50%;
    padding-top: 50px;
    padding-right: 20px;
    display: inline-flex;
    float: right;
}