body{
    width: 100%;
    height: 100%;
}
.gg{
    width: 100%;
    background-color: rgb(173, 214, 250);
    padding: 1px 1px;
    padding-left: 30px; padding-right: 30px;
    overflow: hidden;
}
.parag{
    background-color: rgb(212, 231, 144);
    color: rgb(21, 51, 21);
    font-size: 13pt;
    text-align: justify;
    width: 100%;
    padding: 1px 1px;
    padding-left: 30px; padding-right: 30px;
    overflow: hidden;
}
.formdiv{
    position: relative;
    width: 100%;
    margin: auto;
    background: linear-gradient(to right, rgb(253, 253, 231),rgba(139, 154, 167, 0.568));
    font-size: 12pt;
    padding: 1px 1px;
    padding-left: 30px; padding-right: 30px;
    overflow: hidden;
}
.hospdiv{
    width: 100%;
    background-color: rgb(123, 214, 191);
    padding: 1px;
    margin: auto;
    padding-left: 30px; padding-right: 30px;
    padding-bottom: 5px;
    overflow: hidden;
}
.submission{
    width: auto;
    background-color: rgb(139, 216, 212);
    padding: 20px 20px;
    padding-left: 30px; padding-right: 30px;
    overflow: hidden;
}
.ending{
    width: 100%;
    background-color: rgb(214, 167, 252);
    color: rgb(87, 39, 126);
    text-align: center;
    padding: 1px 1px;
    padding-left: 30px; padding-right: 30px;
    padding-bottom: 5px;
    overflow: hidden;
}

h1{
    font-family: 'Times New Roman';
    margin-left: 25px;
    color: rgb(14, 114, 114);
    overflow: hidden;
}

h2{
    font-family: Algerian;
    margin-left: 20px;
    color: rgb(134, 43, 43);
    overflow: hidden;
}

/*---OUTPUT---*/
.output1{
    width: 800px;
    background-color: rgba(50, 20, 90, 0.56);
    font-size: 22px;
    margin: auto;
    color: rgb(253, 253, 253);
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px;
    position: relative;
}
.output2{
    width: 800px;
    background-color: rgba(7, 7, 7, 0.85);
    font-size: 22px;
    margin: auto;
    color: rgb(185, 0, 0);
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.output3{
    width: 800px;
    background-color: rgba(7, 7, 7, 0.56);
    font-size: 22px;
    margin: auto;
    color: rgb(253, 253, 253);
    padding: 15px 10px 15px 10px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
}

